.guide-container{
  position: relative;
}

.guide-shadow{
  position: fixed;
  top:0;
  z-index: 99999;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  background-color:  rgba(0, 0, 0, 0.8);
  transition: all .3s ease-out;
}

.guide-content{
  position: absolute;
  display: block;
  z-index: 999991;
  width: 200px;
  height: 200px;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, .4);
  transition: all .3s ease-out;
  background-color: rgba(255, 255, 255, 0.9)
}

.guide-tooltip{
  position: absolute;
  /* border-radius: 5px; */
  z-index: 999995;
  display: block;
  opacity: 1;
  padding: 15px 25px 15px 15px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, .4);
  transition: opacity .1s ease-out;
  min-width: 200px;
  max-width: 250px;
  background-color: #fff;
}

.guide-tooltip div:nth-child(1) {
  font: 14px/normal sans-serif;
  color: #2d2d2d;
  font-weight: 400;
  zoom: 1;
  margin-bottom: 0;
}

.guide-tooltip .guide-arrow{
  position: absolute;
  content: '';
  border: 5px solid #fff;
}

.guide-tooltip .top{
  top: -10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: #fff;
  border-left-color: transparent;
}

.guide-tooltip .left{
  left: -10px;
  top: 10px;
  border-top-color: transparent;
  border-right-color: #fff;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.guide-tooltip .bottom{
  bottom: -10px;
  left: 10px;
  border-top-color: #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.guide-tooltip .right{
  right: -10px;
  top: 10px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #fff;
}

